<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>第11回課題</title>
</head>
<body>
  <h1>画像のアップロード</h1>
  <form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value='アップロード'>
  </form>
  {% if is_uploaded %}
  <h2>画像のアップロードが完了しました</h2>
  {% else %}
  <h2>画像のアップロードができていません</h2>
  {% endif %}
</body>
</html>
